<%- include("../includes/header") %>
<div class="container text-dark" style="min-height: 700px; margin-top: 80px;">
    <div class="row">
        <div class="col-md-12">
            <h2>About Page</h2>
            <p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum facere illo itaque doloribus obcaecati similique, earum laudantium perspiciatis quis? Ea ipsa voluptate perspiciatis velit facere consectetur suscipit, inventore officia commodi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos sapiente facilis dicta optio? Repellat iusto magni amet, doloremque et quam excepturi quis cumque aspernatur quod, eum mollitia earum beatae voluptatibus? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi pariatur tempore placeat doloremque voluptates illum iste, accusantium debitis laboriosam fugiat unde provident soluta corporis dignissimos error ipsa voluptatibus. Corporis, fugiat. Lorem ipsum dolor sit amet consectetur adipisicing elit. In laborum voluptatum itaque tenetur ducimus! Eos, laborum sunt! Obcaecati itaque mollitia alias doloremque quod distinctio reiciendis corrupti, nesciunt harum, maxime voluptatibus.</p>
        </div>
    </div>
</div>
<%- include("../includes/footer") %>