<%- include("../includes/header") %>
<div class="container" style="min-height: 700px; color : #000; margin-top: 80px;">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Help Page</h2>
            <p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nulla laudantium ratione voluptates eaque quis quo fugiat earum id, odio at repudiandae cumque vel veniam sit. Rerum dolorum nemo laudantium? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam aspernatur consequuntur culpa. Ducimus, expedita? Tenetur reiciendis error, quasi natus sit neque dignissimos totam sed ea impedit dolor veritatis repudiandae aut?</p>
        </div>
    </div>
</div>
<%- include("../includes/footer") %>