<%- include('header') %>



        <h1>Teacher Add Page</h1>


        <form action="/save" method="post">
            Name : <input type="text" name="name"/>
            <br />
            <br />
            Age : <input type="text" name="age"/>
            <Br />
            <Br />
            City : <select name="city">
                <option>Select</option>
                <option>Indore</option>
                <option>Mumbai</option>
                <option>Pune</option>
            </select>
            <Br />
            <br />
            <input type="submit" />
        </form>
    </body>
</html>