<%- include("../includes/header") %>
<div class="container" style="min-height: 700px; color : #000; margin-top: 80px;">
    <div class="row">
        <div class="col-md-12">
            <h2>Contact Page</h2>
        </div>
    </div>
</div>
<%- include("../includes/footer") %>