<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
            <link type="text/css" rel="stylesheet" href="/css/style.css" />
            <link type="text/css" rel="stylesheet" href="/css/font-awesome.css" />
            <script src="/js/jquery.js"></script>
            <script src="/js/bootstrap.bundle.js"></script>
    </head>
    <body>
        <h1>About -> Info</h1>
        <h2><%= name %></h2>
    </body>
</html>