<html>
    <Head>

    </Head>
    <body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/product">Product</a>
        
        <h1>Product Detail</h1>
        
        <h2>Product Title : <%= result.title %> </h2>
        <h2>Product Price : <%= result.price %> </h2>
        <h2>Product Category : <%= result.category %> </h2>
        <h2>Product Detail : <%= result.detail %> </h2>

    </body>
</html>