<html>
    <Head>

    </Head>
    <body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/product">Product</a>
        <h1>Home Page</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id praesentium unde ad officia. Illo sint adipisci facere quae perspiciatis illum, similique eius officiis et officia in odio provident quam aspernatur!
    </body>
</html>