<html>
    <head>

    </head>
    <body>
        <h1>Show Page</h1>
        <table border="1" align="center" width="600">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>City</th>
            </tr>
            <% result.forEach((x)=>{ %>
                <tr>
                    <td><%= x.name %></td>
                    <td><%= x.age %></td>
                    <td><%= x.city %></td>
                </tr>
           <% }) %>
        </table>
    </body>
</html>